body{
    background-color:black;
}

#select{
    margin: auto;
    margin-top: 50px;
    background-color: black;
    border: 2px solid white;
    width:600px;
    height: 600px;
}

#bn{
    width: 600px;
    height
}
